*{margin:0 ;padding:0}
@font-face
{
    font-family: lucida_regular;
    src: url(../fonts/lucida_sans_unicode.woff);
}
@font-face
{
    font-family: algerian;
    src: url(../fonts/algerian.woff);
}
body
{
background-color: #b4e1e8;
font-size:11px;
background-image:-moz-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-webkit-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-o-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-ms-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#b4e1e8), color-stop(17%,#ffffff),color-stop(90%,#b4e1e8));
 }
#panorama_body
{
background-color: #b4e1e8;
font-size:11px;
background-image:-moz-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-webkit-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-o-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-ms-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#b4e1e8), color-stop(37%,#ffffff),color-stop(96%,#b4e1e8));
 }

 header
 {
	margin-left:auto;
	margin-right:auto;
 margin-top:27px;
 padding:0 14px 40px 14px;
 }

 header nav, header ul
 {
 display:inline-block;
 }
 header nav
 {
 padding-left:20px;
 }

 nav ul li
 {
 list-style-type:none;
 display:inline;

 }

.right
 {
     float: right;
 }
p
   {
       line-height:normal;
       color: #764e36;
    font-family: lucida_regular;
   }

 p span
 {
 font-family:algerian;
 font-size:25px;
 line-height:normal;
 }

 a
 {text-decoration:none;
 color:#500000;
 font-family:algerian;
 padding:20px 15px 20px 15px;
 }
h3
{
    color:#500000;
    font-family:algerian;
    font-weight: normal;
}

.red
{
background-color:#500000;
}
a:hover
 {
 color:#c06733;
 }
 .paper nav a
 {
     font-size: 14px;
 }
.active
{

    color:#c06733;
}

 #icons
 {
     display: inline-block;
     float: right;
     margin-top: -7px;
 }
 #icons img
 {
 padding-left:20px;
 width: 20px;
 }

.panorama
 {
     display: block;
 }

 #frame
 {
 overflow:hidden;
 }
 #frame .frame
 {
 width:100%;
 height:auto;
 }
 #frame .paper
 {
  background-image:url("../images/paper.jpg");
  background-size:cover;
  background-position: top center;
  margin-top:-6%;
  margin-bottom:-3%;
 padding:0 50px;
  }

 #frame nav
 {
 padding-top:81px;
 }
#frame .map
 {
 padding-top:60px;
 }
 #frame nav, #inside_frame nav ul
 {
 text-align:center;
 }

 #frame_content
 {
  margin-left:auto;
 margin-right:auto;
 margin-top:10px;
 position: relative;
 text-align: center;
 }
		.contact_content
		{
		padding: 40px;
		}
 .thumbs
 {
     margin-top:10px;
     padding-bottom:67px;
 }

 .thumb
 {
     display: inline-block;

 }
.thumb .link_holder
 {
    margin-top: 10px;
 }
.thumb .link_holder p
 {
     font-family: algerian;
    color:#500000;
    text-align: center;
    padding: 0 10px;
    font-size: 11px;
 }
.thumb .img_holder
 {
    width:200px;
}

  .img_holder 
  {
  display:inline-block;
  position: relative;
  width:270px;
  z-index: 90;
  vertical-align: text-bottom;
  margin: 0 0 20px 40px;
  }
.img_holder:first-child
  {
  margin: 0 0 20px 0;
  }
.img_holder .hold
{
    padding-top: 82%;
    background-image:url("../images/frame.png");
    background-size:cover;
    z-index: 89;
}
.thumb .img_holder
{
    margin-bottom: 0;
}
.image_div
  {
    position: absolute;
    top:19%;
    left:10%;
    bottom:10%;
    right:11%;
  background-image:url("../images/test.JPG");
  background-size:cover;
    z-index: -1;
}


 .text .title
 {
     margin-bottom: 20px;
 }

.text p, .text span
 {
    line-height:200%;
 }
.text span
 {
    line-height:inherit;
 }

   .text
   {
   font-family: Lucida Sans Unicode;
   text-align: justify;
   margin-left:20px;
     max-width: 370px;
	display:inline-block;
	vertical-align: top;
    margin-top: 15px;
 }
 
 .center
 {
 vertical-align: middle;
 }
 .small
 {
 max-width: 195px;
 margin-top: 0;
 margin-left: 50px;
 }

.first_line
   {
    margin-top: 11px;
}

 
@media screen and (min-width:1400px) and (min-height: 800px) 
{

 .img_holder
	 {
	width: 330px;
	}

	#frame nav, #frame .map{
	padding-top: 115px;
	}
	.owl-carousel .item 
	{
	padding: 50px 23px !important;
	}
	.slaider_container {
	padding: 0 33px 95px 33px !important;
	}
	#icons img {
	width: 25px;
	}
	.contact_content
	{
	margin-top:20px !important;
	}
	.img_holder
	{
		margin-left: 60px;
	}
}
@media screen and (min-width:1400px)
{

	.img_holder
	{
		margin-left: 60px;
	}
	 .small
	 {
	 margin-left: 60px;
	 }
}

@media screen and (min-width:1160px) and (min-height: 700px) 
{
  	.owl-carousel .item 
	{
	margin: 25px 0 !important;
	}
}
@media screen and (max-width:1140px)
{

      .text
    {
         width: auto;
        display: block;
        margin: 0 auto;
        padding-top: 0;
    }
		.contact
		{
		width:370px;
		}

}

@media screen and (max-width:992px)
{

      .text
    {
         width: auto;
        display: block;
        margin: 0 auto;
    }

}
@media screen and (max-width:830px)
{

	.img_holder,.img_holder:first-child
	{
		display:block;
		margin: 10px auto;
	}
	.img_holder,.img_holder:nth-child(2)
	{
		display:none;
	}

}
@media screen and (max-width:550px)
{

      .owl-carousel .item
    {
        margin:18px !important;
    }
	.img_holder 
	{
		width: 100%;
	}
	.frame
	{
	display:none;
	}
	#frame .paper 
	{
	padding:0;
	margin:0;
	}
	#frame nav {
	padding-top: 8px;
	}
	.thumb
	{
		display: block;
	}
	.img_holder 
	{
		width: 100%;
	}
	.thumb .img_holder {
		width: 100%;
		max-width: 260px;
		}
		.img_holder .hold 
		{
		background-image: none;
		}
		.image_div {
		
		top: 0;
		left: 0;
		bottom: 5%;
		right: 0;
		}
		nav, header nav
		{
		display: block;
		margin: 0 auto;
		}

		nav ul li {
		display: inline-block;
		margin: 10px auto;
		width: 100%;
		text-align: center;
		}
		#icons {
		display: block;
		float: none;
		margin: 10px auto;
		text-align: center;
		}
		#icons img:first-child{
		padding-left: 0;
		}
		#contact
		{
			padding: 0 10px 20px 10px;
		}
	
		.contact_content
		{
			 padding: 0;
		}
		.left,.right {
		float: none;
		display:block;
		}
		.left {
		font-weight: bold;
		}
}


.owl-carousel .item{
    padding: 30px 23px;
    margin: 10px;
    text-align: center;
}

#googleMap
{
    display: block;
    height: 250px;
    box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
}
#map
{
overflow:hidden;
width:70%;
height:300px;
display: inline-block;
}
form
{
display: inline-block;
}
.contact
{
  min-width:260px;
		margin-top:0;
}

#contact p
{
    display: block;
    overflow: hidden;
}
#contact p span
{
    font-size: 11px;
    font-family: lucida_regular;

}