*{margin:0 ;padding:0}
@font-face
{
    font-family: lucida_regular;
    src: url(../fonts/lucida_sans_unicode.woff);
}
@font-face
{
    font-family: algerian;
    src: url(../fonts/algerian.woff);
}
html
{
background-color: #b4e1e8;
font-size:11px;
background-image:-moz-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-webkit-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-o-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-ms-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#b4e1e8), color-stop(17%,#ffffff),color-stop(90%,#b4e1e8));
 }
#panorama_body
{
background-color: #b4e1e8;
font-size:11px;
background-image:-moz-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-webkit-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-o-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-ms-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#b4e1e8), color-stop(37%,#ffffff),color-stop(96%,#b4e1e8));
 }

 header
 {
	margin-left:auto;
	margin-right:auto;
 padding:27px 14px 40px 14px;
 }

 header .nav, header ul
 {
 display:inline-block;
 }
 header .nav
 {
 padding-left:20px;
 }

 .nav ul li
 {
 list-style-type:none;
 display:inline;

 }

.right
 {
     float: right;
 }
 .small_frame
	{
	display:none;
	}

	p
   {
       line-height:normal;
       color: #764e36;
    font-family: lucida_regular;
   }

 p span
 {
 font-family:algerian;
 font-size:25px;
 line-height:normal;
 }

 a
 {text-decoration:none;
 color:#500000;
 font-family:algerian;
 padding:20px 15px 20px 15px;
 }
h3
{
    color:#500000;
    font-family:algerian;
    font-weight: normal;
}

.red
{
background-color:#500000;
}
a:hover
 {
 color:#c06733;
 }
 .paper .nav a
 {
     font-size: 14px;
 }
.active
{

    color:#c06733;
}

 #icons
 {
     display: inline-block;
     float: right;
	 vertical-align: middle;
 }
 #icons img
 {
 padding-left:20px;
 width: 20px;
 }

.panorama
 {
     display: block;
 }

 #frame
 {
 overflow:hidden;
 }
 #frame .frame
 {
 width:100%;
 height:auto;
 }
 #frame .paper
 {
  background-image:url("../images/paper.jpg");
  background-size:cover;
  background-position: top center;
  margin-top:-6%;
  margin-bottom:-3%;
 padding:0 50px;
  }

 #frame .nav
 {
 padding-top:81px;
 }
#frame .map
 {
 padding-top:60px;
 }
 #frame .nav, #inside_frame .nav ul
 {
 text-align:center;
 }

 #frame_content
 {
  margin-left:auto;
 margin-right:auto;
 margin-top:10px;
 position: relative;
 text-align: center;
 }
		.contact_content
		{
		padding: 40px;
		}
 .thumbs
 {
     margin-top:10px;
     padding-bottom:67px;
 }

 .thumb
 {
     display: inline-block;

 }
.thumb .link_holder
 {
    margin-top: 10px;
 }
.thumb .link_holder p
 {
     font-family: algerian;
    color:#500000;
    text-align: center;
    padding: 0 10px;
    font-size: 11px;
 }
 .owl-carousel a
 {   
    padding: 0;
 }
.thumb .frame_wrap
 {
    width:200px;
	margin:0;
}
.thumb .frame_wrap .img_wrap
 {
	margin: 33px 25px 32px 25px;
	height: 100px;
}

.frame-wrap:first-child
  {
  margin: 0 0 20px 0;
  }

.frame_wrap
{
width:270px;
  display:inline-block;
  position: relative;
  vertical-align: text-bottom; 
  margin: 0 0 20px 40px;
}
.img_wrap
{
margin: 44px 32px 39px 32px;
height: 140px;
display: inline-block;
overflow: hidden;
}
.frame_wrap:before
{
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 100%;
width: 100%;
/* border-bottom: 4px solid #312417; */
background-image: url("../images/frame.png");
background-size: cover;
z-index:100;
}


.thumb .frame_wrap
{
    margin-bottom: 0;
}

.contained_image
{
width:100%;
position:relative;
}




 .text .title
 {
     margin-bottom: 20px;
 }

.text p, .text span
 {
    line-height:200%;
 }
.text span
 {
    line-height:inherit;
 }

   .text
   {
   font-family: Lucida Sans Unicode;
   text-align: justify;
   margin-left:20px;
     max-width: 370px;
	display:inline-block;
	vertical-align: top;
    margin-top: 15px;
 }
 
 .center
 {
 vertical-align: middle;
 }
 .small
 {
 max-width: 195px;
 margin-top: 0;
 margin-left: 50px;
 }

.first_line
   {
    margin-top: 11px;
}

 
@media screen and (min-width:1400px) and (min-height: 800px) 
{

 .frame_wrap,.contact
	 {
	width: 330px !important;
	}
	.thumb .frame_wrap
	 {
	width: 200px !important;
	}
	.img_wrap
	{
	margin: 54px 32px 51px 32px;
	height: 167px;
	}
	.contact .img_wrap {
		width: 253px !important;
		}

	#frame .nav, #frame .map{
	padding-top: 115px;
	}
	.owl-carousel .item 
	{
	padding: 50px 23px !important;
	}
	.slaider_container {
	padding: 0 33px 95px 33px !important;
	}
	#icons img {
	width: 25px;
	}
	.contact_content
	{
	margin-top:20px !important;
	}
	.frame-wrap
	{
		margin-left: 60px;
	}
}
@media screen and (min-width:1400px)
{

	.frame_wrap
	{
		margin-left: 60px;
	}
	 .small
	 {
	 margin-left: 60px;
	 }
}

@media screen and (min-width:1160px) and (min-height: 700px) 
{
  	.owl-carousel .item 
	{
	margin: 25px 0 !important;
	}
}
@media screen and (max-width:1140px)
{

      .text
    {
         width: auto;
        display: block;
        margin: 0 auto;
        padding-top: 0;
    }
		.contact
		{
		width:370px;
		}
				.contact_content .frame_wrap
		{
			margin-left: 0;
		}

}

@media screen and (max-width:992px)
{

      .text
    {
         width: auto;
        display: block;
        margin: 0 auto;
    }
	.frame_wrap
	{
	margin: 0 0 20px 0;
	}

}
@media screen and (max-width:830px)
{

	.frame_wrap,.frame_wrap:first-child
	{
		display:block;
		margin: 10px auto;
	}
	.frame_wrap,.frame_wrap:nth-child(2)
	{
		display:none;
	}


}
@media screen and (max-width:600px)
{	
	header
	{
	margin-top: 23px;
	padding: 0 14px 14px 14px;
	text-align:right;
	}
	a
	{
	font-family: lucida_regular;
	text-transform: uppercase;
	display: block;
	padding: 13px 15px 13px 15px;
	font-size: 14px;
	}
	.navbar-nav li:first-child
	{
	padding-top:10px !important;
	}
	.navbar-nav li
	{
	padding:0 !important;
	}
	.navbar-toggle {
		display: inline-block !important;
		}
	#frame .nav {
	padding-top: 8px;
	}
			.nav, header .nav
		{
		display: block;
		margin: 0 auto;
		}

		.nav ul li {
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		}
		.nav ul li:first-child {
		
		margin-left: auto;
		margin-right: auto;
		margin-top:  10px;
		}
		#icons {
	
		float: none;
		margin-top: 0;
		}
		#icons img{
		width: 25px;
		}
		#icons img:first-child{
		padding-left: 0;
		}
		.navbar-collapse
		{
		display:none;
		}
}

@media screen and (max-width:550px)
{	

      .owl-carousel .item
    {
        margin:40px !important;
		padding-left:0  !important;
		padding-right:0  !important;
    }
	.frame_wrap 
	{
		width: 100%;
	}
	.frame
	{
	display:none;
	}
	#frame .paper 
	{
	padding:0;
	margin:0;
	background-image: url("../images/paper2.png");
	}
	
	.thumb
	{
		display: block;
	}

	.thumb .frame_wrap {
		width: 100%;
		max-width: 260px;

		}
		.frame_wrap:before {
		background-image:none ;
		}

		.thumb .frame_wrap .img_wrap {
			margin: 0;
			height:150px;
			}

		#contact
		{
			padding: 0 10px 20px 10px;
		}
		.contact
			{
			display:block;
			width:100% !important;
			margin:0;
			}
			.contact, .contact:first-child {
				display: block;
				margin: 15px 0 0 0;
				}
			.contact .img_wrap
			{
			display:block;
			  width:100% !important;
			  margin:0;
			}
	
		.contact_content
		{
			 padding: 0;
		}

		
		.left,.right {
		float: none;
		display:block;
		}
		.left {
		font-weight: bold;
		}
	
}


.owl-carousel .item{
    padding: 30px 23px;
    margin: 10px;
    text-align: center;
}

#googleMap
{
    display: block;
    height: 250px;
    box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
}
#map
{
overflow:hidden;
width:50%;
height:300px;
display: inline-block;
}
form
{
display: inline-block;
}
.contact
{
  width:260px;

}
.contact .img_wrap
{
  width:200px;
}

#contact p
{
    display: block;
    overflow: hidden;
}
#contact p span
{
    font-size: 11px;
    font-family: lucida_regular;

}





	.navbar-nav li
	{
	display:inline-block ;
	}
	
		.navbar-collapse.collapse {
		display: inline;
		}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
background-color: white;
}
.navbar-toggle {
display: none;
}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
border-bottom: 1px solid brown;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #333333;
}

.navbar-toggle {
border-color: #333333;
}
.navbar-toggle {
position: relative;
margin-left: 20px;
padding: 9px 10px;
background-color: bisque;
background-image: none;
border: 1px solid brown;
border-radius: 2px;
vertical-align: middle;
}

button {
-webkit-appearance: button;
cursor: pointer;
overflow: visible;
margin: 0;
}
.navbar-collapse {
margin-right: -5px;
margin-left: -5px;
}
.navbar-collapse {
max-height: 340px;
padding-right: 5px;
padding-left: 5px;
text-align:left;
}

.navbar-nav li
{
display:inline;
list-style-type: none;
padding-top: 10px;
}
