*{margin:0 ;padding:0}
@font-face
{
    font-family: lucida_regular;
    src: url(../fonts/lucida_sans_unicode.woff);
}
@font-face
{
    font-family: algerian;
    src: url(../fonts/algerian.woff);
}
body
{
background-color: #b4e1e8;
font-size:11px;
background-image:-moz-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-webkit-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-o-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
background-image:-ms-linear-gradient(top, #b4e1e8 0%, #ffffff 17%,#b4e1e8 90%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#b4e1e8), color-stop(17%,#ffffff),color-stop(90%,#b4e1e8));
 }
#panorama_body
{
background-color: #b4e1e8;
font-size:11px;
background-image:-moz-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-webkit-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-o-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
background-image:-ms-linear-gradient(top, #b4e1e8 0%, #ffffff 37%,#b4e1e8 96%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#b4e1e8), color-stop(37%,#ffffff),color-stop(96%,#b4e1e8));
 }

 header
 {
	margin-left:auto;
	margin-right:auto;
 margin-top:27px;
 padding:0 14px 40px 14px;
 }

 header nav, header ul
 {
 display:inline-block;
 }

 nav ul li
 {
 list-style-type:none;
 display:inline;

 }
 .left
 {
     float: left;
 }
.right
 {
     float: right;
 }
p
   {
       line-height:normal;
       color: #764e36;
    font-family: lucida_regular;
   }

 p span
 {
 font-family:algerian;
 font-size:25px;
 line-height:normal;
 }

 a
 {text-decoration:none;
 color:#500000;
 font-family:algerian;
 padding:20px 15px 20px 15px;
 }
h3
{
    color:#500000;
    font-family:algerian;
    font-weight: normal;
}
a:hover
 {
 color:#c06733;
 }
 .paper nav a
 {
     font-size: 14px;
 }
.active
{

    color:#c06733;
}

 #icons
 {
     display: inline-block;
     float: right;
     margin-top: -7px;
 }
 #icons img
 {
 padding-left:20px;
 width: 20px;
 }

.panorama
 {
     display: block;
 }

 #frame
 {
 overflow:hidden;
 }
 #frame .frame
 {
 width:100%;
 height:auto;
 }
 #frame .paper
 {
  background-image:url("../images/paper.jpg");
  background-size:cover;
  background-position: top center;
  margin-top:-6%;
  margin-bottom:-2%;
 padding:0 50px;
  }
#frame #paper2
 {
  margin-bottom:-4%;
  }
 #frame nav
 {
 padding-top:81px;
 }
 #frame nav, #inside_frame nav ul
 {
 text-align:center;
 }

 #frame_content
 {
  margin-left:auto;
 margin-right:auto;
 margin-top:40px;
 padding-bottom:54px;
 position: relative;
 }



.customNavigation
{
    position: absolute;
    top: 40%;
    left:0;
    right:0;
    display: block;
}
.customNavigation .prev img
{
left:0;
}
.customNavigation .next img
{
right:0;
}

.customNavigation img
{
          width:22px;
}
 .thumbs
 {
     margin-top:40px;
     padding-bottom:67px;
 }

 .thumb
 {
     display: inline-block;

 }
.thumb .link_holder
 {
    margin-top: 10px;
 }
.thumb .link_holder p
 {
     font-family: algerian;
    color:#500000;
    text-align: center;
    padding: 0 10px;
    font-size: 11px;
 }
.thumb .img_holder
 {
    width:161px;
}

  .img_holder 
  {
  display:inline-block;
  position: relative;
  width:229px;
  z-index: 90
  }
.img_holder .hold
{
    padding-top: 82%;
    background-image:url("../images/frame.png");
    background-size:cover;
    z-index: 89;
}
.image_div
  {
    position: absolute;
    top:19%;
    left:10%;
    bottom:10%;
    right:11%;
  background-image:url("../images/test.JPG");
  background-size:cover;
    z-index: -1;
}


 .text
 {
 text-align: justify;
 max-width: 350px;
 display: inline-block;
 }
 .text .title
 {
     margin-bottom: 20px;
 }

.text p, .text span
 {
    line-height:200%;
 }
.text span
 {
    line-height:inherit;
 }
@media screen and (max-width:827px)
{


}

.owl-carousel .item{
    padding: 30px 0px;
    margin: 10px;
    text-align: center;
}
#owl3 .item{
    padding: 15px;
    padding: 0;
    text-align: left;
}
#owl3 .item .item_container{
   display: inline-block;
}
#owl3 .item .text{
    padding-top: 20px;
}
#owl3 .item .img_holder{
    width:  200px;
}
#owl4 .item{
   text-align: center;
    padding: 0;
    overflow: hidden;
}
#owl4 .item .text{
    overflow: hidden;

}

.customNavigation{
    text-align: center;
}

.customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
#googleMap
{
    display: block;
    height: 250px;
}
#contact
{
    display: block;
   margin: 0 auto;
}
#contact p
{
    display: block;
    overflow: hidden;
}
#contact p span
{
    font-size: 11px;
    font-family: lucida_regular;

}